<section class="bg-white py-16 md:py-20 border-b border-gray-200 border-solid">
  <div class="container px-6 mx-auto text-center">
    <h1 class="font-extrabold text-4xl md:text-6xl mb-6 text-black">
      An Open Source
      <span class="block mt-2 text-indigo-700">Public Cloud Platform</span>
    </h1>
    <h2 class="text-gray-500 font-light text-md md:text-lg max-w-xl mx-auto">
     M3O is an open source AWS alternative built for the next generation of 
     developers. Consume public APIs as simpler programmable building blocks 
     for a 10x better developer experience.
    </h2>
    <div class="flex justify-center items-center mt-6">
      <app-link-button href="/register">Get Started</app-link-button>
    </div>
    <br>
    <h3>Powered by <a href="https://github.com/micro">Micro</a>.</h3>
  </div>
</section>
