<section class="bg-green-300 py-6 md:py-12 m-4">
  <div
    class="
      md:max-w-4xl
      lg:max-w-7xl
      md:grid md:grid-cols-2
      ml-auto
      mr-auto
      w-11/12
    "
  >
    <div>
      <h2 class="mat-headline title m3o-mt">Programming<br />The Real World</h2>
      <h3>
        Micro is a new cloud platform that focuses on developer experience.
        Consume public APIs as simpler programmable building blocks for
        lightning fast development of products and services.
      </h3>
      <div class="m3o-mt">
        <a href="#everyday">👇 Learn More</a>
      </div>
    </div>
    <div>
      <div class="banner-info">
        <h2 class="mat-headline banner-info-title">Start using Micro now</h2>
        <p><a routerLink="/register">Signup</a> for a free account today</p>
        <p>Get $5 credit to get started.</p>
        <br />
        <p><a routerLink="/explore">Explore</a> our public APIs</p>
        <p>Build apps at lightning speed!</p>
        <br />
      </div>
    </div>
  </div>
</section>
