<footer class="root">
  <div class="container root-container">
    <div class="left" id="mc_embed_signup">
      <h5>Subscribe for the latest updates</h5>
      <form
        action="https://micro.us18.list-manage.com/subscribe/post?u=fba1e1a1b23409d771c5653cd&amp;id=647d0b5377"
        method="post"
        id="mc-embedded-subscribe-form"
        name="mc-embedded-subscribe-form"
        class="validate"
        target="_blank"
        novalidate=""
      >
        <div id="mc_embed_signup_scroll" class="input-wrapper">
          <input
            type="email"
            value=""
            name="EMAIL"
            class="email"
            id="mce-EMAIL"
            placeholder="Email address"
            required=""
          />
          <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
          <div style="position: absolute; left: -5000px" aria-hidden="true">
            <input
              type="text"
              name="b_fba1e1a1b23409d771c5653cd_647d0b5377"
              tabindex="-1"
              value=""
            />
          </div>
          <button type="submit" name="subscribe" id="mc-embedded-subscribe">
            Subscribe
          </button>
        </div>
      </form>
    </div>
    <div class="right grid-equal">
      <ul>
        <li><a href="https://blog.m3o.com" target="_blank">Blog</a></li>
        <li><a href="https://github.com/m3o" target="_blank">Github</a></li>
        <li>
          <a href="https://forms.gle/9SQV6DdLNDzSRQ477" target="_blank"
            >Partner</a
          >
        </li>
        <li><a href="https://m3o.dev" target="_blank">Platform</a></li>
      </ul>
      <ul>
        <li><a href="mailto:contact@m3o.com">Contact</a></li>
        <li>
          <a href="https://discord.gg/TBR9bRjd6Z" target="_blank">Discord</a>
        </li>
        <li>
          <a
            href="https://www.linkedin.com/company/micro-services-inc"
            target="_blank"
            >LinkedIn</a
          >
        </li>
        <li><a href="https://slack.m3o.com" target="_blank">Slack</a></li>
      </ul>
    </div>
  </div>
  <div class="copyright">
    <div class="container">
      <p>© {{ getYear() }} Micro Services, Inc.</p>
    </div>
  </div>
</footer>
