<ng-container *ngFor="let property of schema['properties'] | keyvalue">
  <div class="w-full bg-gray-50 flex p-2 mb-2 rounded-sm">
    <div class="font-bold w-2/12">{{ property.key }}</div>
    <div class="w-2/12 text-indigo-600">
      <ng-container *ngIf="property.value['type'] == 'array'"
        >{{ property.value['items'].type }} </ng-container
      >{{ property.value['type'] }}
    </div>
    <div class="w-8/12">
      {{ property.value['description'] }}
    </div>
  </div>

  <div
    app-property-lister
    *ngIf="property.value['type'] == 'array'"
    [level]="level + 1"
    [schema]="property.value['items']"
  ></div>

  <div
    app-property-lister
    *ngIf="property.value['type'] == 'object'"
    [level]="level + 1"
    [schema]="property.value"
  ></div>
</ng-container>
