<ng-container *ngFor="let property of schema['properties'] | keyvalue">
  <tr>
    <td>
      <span class="key"
        [ngStyle]="{ 'padding-left': level + 'em;' }"
        style="display: inline-block"
        >{{ property.key }}</span
      >
    </td>
    <td class="type">
      <ng-container *ngIf="property.value['type'] == 'array'"
        >{{ property.value['items'].type }} </ng-container
      >{{ property.value['type'] }}
    </td>
    <td class="description">{{ property.value['description'] }}</td>
  </tr>

  <div
    app-property-lister
    *ngIf="property.value['type'] == 'array'"
    [level]="level + 1"
    [schema]="property.value['items']"
  ></div>

  <div
    app-property-lister
    *ngIf="property.value['type'] == 'object'"
    [level]="level + 1"
    [schema]="property.value"
  ></div>
</ng-container>
