<app-container>
  <div class="md:grid-cols-3 md:grid py-6 md:gap-4 font-light">
    <div
      class="
        col-span-2
        bg-white
        p-8
        rounded-md
        border border-gray-200 border-solid
      "
    >
      <h2 class="font-black text-black text-xl mb-4 dark:text-white">
        Introduction
      </h2>
      <p class="mb-0"><markdown [data]="getDescription()"></markdown></p>
      <h2 class="font-black text-black mb-4 dark:text-white mt-6 text-xl">
        Features
      </h2>
      <p>
        See the features of the {{ singleApiService.service.api.name }} service
        below along with related pricing details
      </p>
      <div class="overflow-hidden sm:rounded-lg mb-6">
        <table class="min-w-full divide-y divide-gray-200">
          <thead class="border-b border-solid border-gray-100">
            <tr>
              <th
                class="
                  text-left text-xs
                  font-medium
                  tracking-wider
                  py-3
                  text-gray-400
                "
              >
                Endpoint
              </th>
              <th
                class="
                  text-left text-xs
                  font-medium
                  tracking-wider
                  py-3
                  text-gray-400
                  px-3
                "
              >
                Description
              </th>
              <th
                class="
                  text-left text-xs
                  font-medium
                  tracking-wider
                  py-3
                  text-gray-400
                "
              >
                Pricing (per request)
              </th>
            </tr>
          </thead>
          <tbody>
            <tr
              *ngFor="let endpoint of endpoints | keyvalue"
              class="border-b border-solid border-gray-100"
            >
              <td class="py-3 text-sm w-2/12 font-medium">
                <a
                  href="/{{ singleApiService.service.api.name }}/api#{{
                    formatTitle(endpoint.key)
                  }}"
                  class="text-indigo-600"
                >
                  {{ formatTitle(endpoint.key) }}
                </a>
              </td>
              <td class="py-3 text-sm w-7/12 px-3">
                {{ endpoint.value.request.description }}
              </td>
              <td class="py-3 text-sm w-3/12">
                <span class="font-normal rounded-md">
                  {{ getEndpointPrice(endpoint) }}
                </span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <h2 class="font-black text-black text-xl mb-6 dark:text-white">
        Examples
      </h2>

      <span *ngIf="example == undefined"> No examples available </span>

      <div *ngIf="example != undefined">
        <p class="font-bold mb-4">{{ formatTitle(example.title) }}</p>
        <div class="mb-4">
          <pre
            class="rounded-md font-mono text-sm"
          ><code class="example" language="'curl'" [highlight]="formatJSON(example.request)"></code></pre>
        </div>
        <pre
          class="rounded-md font-mono text-sm"
        ><code class="example" language="'curl'" [highlight]="formatJSON(example.response)"></code></pre>
      </div>
      <p class="mt-4">
        Visit the
        <a
          routerLink="/{{ this.singleApiService.service.api.name }}/api"
          class="text-indigo-600 hover:underline"
          >API page</a
        >
        to get started.
      </p>
    </div>
    <aside>
      <div
        class="
          bg-white
          p-8
          rounded-md
          border border-gray-200 border-solid
          flex-grow-0
          mb-4
          mt-4
          md:mt-0
        "
      >
        <h3 class="font-black text-black text-lg mb-6 dark:text-white">
          Authors
        </h3>
        <img
          class="rounded-full w-12 inline-block mr-4"
          src="https://avatars.githubusercontent.com/u/17530?s=64&v=4"
        />
        <img
          class="rounded-full w-12 inline-block"
          src="https://avatars.githubusercontent.com/u/1785178?s=64&v=4"
        />
      </div>
      <div
        class="
          bg-white
          p-8
          rounded-md
          border border-gray-200 border-solid
          flex-grow-0
        "
      >
        <h3 class="font-black text-black text-lg mb-6 dark:text-white">
          Need help?
        </h3>
        <p class="mb-0">
          Join #support on
          <a
            href="https://slack.m3o.com"
            class="font-medium underline hover:no-underline text-indigo-600"
            target="_blank"
            >Slack</a
          >
          or join our
          <a
            href="https://discord.gg/TBR9bRjd6Z"
            class="font-medium underline hover:no-underline text-indigo-600"
            target="_blank"
            >Discord</a
          >
          and we'll answer your questions ASAP.
        </p>
      </div>
      <div
        class="
          bg-white
          p-8
          rounded-md
          border border-gray-200 border-solid
          flex-grow-0
          mt-4
        "
      >
        <h3 class="font-black text-black text-lg mb-6 dark:text-white">
          Feedback
        </h3>
        <p class="text-gray-500">Looking for something you can&apos;t find??</p>
        <a
          href="https://forms.gle/bumpycyzofNiVLQc8"
          target="_blank"
          rel="noreferrer"
          class="mt-2 inline-block font-medium text-gray-600 underline"
        >
          Let us know
        </a>
      </div>
    </aside>
  </div>
</app-container>
