<app-container>
  <div class="md:grid-cols-3 md:grid py-6 md:gap-4 font-light">
    <div
      class="
        col-span-2
        bg-white
        p-8
        rounded-md
        border border-gray-200 border-solid
      "
    >
      <h2 class="font-black text-black text-lg mb-4 dark:text-white">
        Introduction
      </h2>
      <p>{{ getDescription() }}</p>
      <h2 class="font-black text-black text-lg mb-4 dark:text-white">
        Features
      </h2>

      <ul class="list-none list-inside border-t border-gray-200 border-solid">
        <li
          class="
            flex
            border-b border-gray-200 border-solid
            pb-4
            mt-4
            items-center
          "
          *ngFor="let endpoint of endpoints | keyvalue"
        >
          <p class="w-1/6 font-bold text-black text-sm mb-0">
            {{ formatTitle(endpoint.key) }}
          </p>
          <p class="w-5/6 mb-0">{{ endpoint.value.request.description }}</p>
        </li>
      </ul>

      <br>
      <h2 class="font-black text-black text-lg mb-4 dark:text-white">
        Examples
      </h2>

      <span *ngIf="example == undefined">
        No examples available
      </span>

      <div *ngIf="example != undefined">
            <span class="font-bold">{{ formatTitle(example.title) }}</span>

            <pre class="rounded-md font-mono text-sm">
              <code class="example" language="'curl'" [highlight]="formatJSON(example.request)"></code>
            </pre>
            <pre class="rounded-md font-mono text-sm">
              <code class="example" language="'curl'" [highlight]="formatJSON(example.response)"></code>
            </pre>
       </div>
    </div>
    <div
      class="
        bg-white
        p-8
        rounded-md
        border border-gray-200 border-solid
        mt-6
        md:mt-0
      "
    >
      <div class="border-b border-solid border-gray-100 pb-6">
        <h3 class="font-black text-black text-lg mb-6 dark:text-white">
          Authors
        </h3>
        <img
          class="rounded-full w-12 inline-block mr-4"
          src="https://avatars.githubusercontent.com/u/17530?s=64&v=4"
        />
        <img
          class="rounded-full w-12 inline-block"
          src="https://avatars.githubusercontent.com/u/1785178?s=64&v=4"
        />
      </div>
      <div class="pb-4 mt-6 dark:border-gray-800">
        <h3 class="font-black text-black text-lg my-6 dark:text-white">
          Need help?
        </h3>
        <p>
          Join <span class="text-indigo-600">#support</span> on
          <a
            href="https://slack.m3o.com"
            class="font-bold text-indigo-600 underline hover:no-underline"
            >Slack</a
          >
          or join our
          <a
            href="https://discord.gg/TBR9bRjd6Z"
            class="font-bold text-indigo-600 underline hover:no-underline"
            >Discord</a
          >
          and we'll answer your questions ASAP.
        </p>
        <h3 class="font-black text-black text-lg my-6 dark:text-white">
          Feedback
        </h3>
        <p class="text-gray-500">Looking for something you can&apos;t find??</p>
        <a
          href="https://forms.gle/bumpycyzofNiVLQc8"
          target="_blank"
          rel="noreferrer"
          class="mt-2 inline-block text-indigo-600 font-bold underline"
        >
          Let us know
        </a>
      </div>
    </div>
  </div>
</app-container>
