section {
  /* background-color: red; */
}

h1 {
  font-weight: bold;
  font-size: 30px;
  margin-bottom: var(--m3o-spacing);
  color: var(--m3o-primary);
}

h2 {
  font-size: 36px;
  font-weight: bold;
}

svg {
  width: 150px;
}

svg path,
svg circle {
  fill: var(--m3o-white);
}

form button {
  width: 100%;
  margin-top: var(--m3o-double-spacing);
}

.full {
  width: 100%;
}

.left {
  padding: var(--m3o-spacing);
}

.left p {
  color: var(--m3o-dark-grey);
  margin-bottom: var(--m3o-double-spacing);
  font-weight: 300;
}

.right {
  text-align: center;
  color: var(--m3o-white);
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 300;
  padding: var(--m3o-double-spacing);
}

.right p {
  margin-bottom: var(--m3o-spacing);
  color: var(--m3o-secondary);
  font-size: 18px;
}

.left p.sign-up {
  margin-top: var(--m3o-spacing);
  font-weight: bold;
  font-size: 13px;
  margin-bottom: 0;
}

.sign-up a {
  color: var(--m3o-primary);
  text-decoration: underline;
}

.right-content {
  position: relative;
  z-index: 2;
  width: 90%;
}

.selling-points li {
  margin-bottom: var(--m3o-half-spacing);
}

@media (min-width: 768px) {
  section {
    height: calc(100vh - var(--m3o-header-height));
  }

  h1 {
    font-size: 44px;
  }

  form {
    width: 400px;
  }

  .login-container {
    display: flex;
    height: 100%;
  }

  .left {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .left,
  .right {
    width: 50%;
  }

  .right {
    background-color: var(--m3o-primary);
    color: var(--m3o-white);
    position: relative;
  }
}
