<section class="h-screen bg-gray-100">
  <div class="md:flex max-w-7xl mx-auto flex items-center justify-center py-8">
    <div class="p-8 bg-white rounded-md shadow-md w-11/12 max-w-lg">
      <h1 class="font-bold text-3xl mb-6">Log in</h1>
      <form (ngSubmit)="login()">
        <div class="mb-6">
          <app-text-input
            name="email"
            label="Email"
            [(ngModel)]="email"
            [required]="true"
            autocomplete="email"
            autofocus="true"
            placeholder="e.g john@doe.com"
            type="email"
          ></app-text-input>
        </div>
        <div class="mb-6">
          <app-text-input
            name="password"
            label="Password"
            [(ngModel)]="password"
            [required]="true"
            autocomplete="current-password"
            type="password"
          ></app-text-input>
        </div>
        <input [(ngModel)]="namespace" type="hidden" name="namespaceInput" />
        <app-button type="submit" class="w-full mb-6" [loading]="loading"
          >Submit</app-button
        >
      </form>
      <p class="mb-4 text-gray-700">
        Not registered yet?
        <a routerLink="/register" class="text-indigo-400">Create an account</a>
      </p>
      <p class="sign-up">
        <a routerLink="/forgot-password" class="text-indigo-400"
          >Forgotten your password?</a
        >
      </p>
    </div>
  </div>
</section>
