<app-modal>
  <h2 class="font-black text-black text-xl mb-4">Downloads</h2>
  <div
    class="border-b border-gray-200 px-2 py-6 flex justify-between items-center"
  >
    <div class="w-8/12">
      <h4 class="font-bold mb-2 text-black">Postman JSON</h4>
      <p class="text-sm">
        Download a Postman collection JSON for
        <a
          href="https://learning.postman.com/docs/getting-started/importing-and-exporting-data/"
          rel="noreferrer"
          target="_blank"
        >
          importing to the Postman client
        </a>
      </p>
    </div>
    <app-button (click)="onDownloadPostman()">Download</app-button>
  </div>
  <div class="px-2 py-6 flex justify-between items-center">
    <div class="w-9/12 pr-6">
      <h4 class="font-bold mb-2 text-black">Open API JSON</h4>
      <p class="text-sm">
        Download the OpenAPI json for this API for importing to your favourite
        client
      </p>
    </div>
    <app-button (click)="onDownloadOpenApi()">Download</app-button>
  </div>
</app-modal>
