<div class="py-8 md:py-12 text-gray-700 font-light">
  <app-container>
    <div class="max-w-3xl">
      <h2 class="font-extrabold text-2xl md:text-4xl mb-8">Getting Started</h2>
      <p class="font-light text-xl">
        Welcome to Micro! Follow this getting started guide to get familiar with
        the platform.
      </p>
      <div *ngIf="!(user && user.name)" class="my-8">
        <h3 class="font-black text-xl md:text-2xl my-8">Sign up</h3>
        <p>
          <a routerLink="/register" class="text-indigo-700 hover:underline"
            >Sign up</a
          >
          or
          <a routerLink="/login" class="text-indigo-700 hover:underline"
            >log in</a
          >
          to Micro so you can get a token. You can use password based log in or
          oauth.
        </p>
        <p class="mt-2 italic">
          Note: For security purposes, if you log in with oauth, the password is
          no longer valid unless you reset it.
        </p>
      </div>
      <div class="my-8">
        <h3 class="font-black text-xl md:text-2xl my-8">
          Try out Hello world!
        </h3>
        <p>Here's a simple nodejs example to call the helloworld API:</p>
      </div>

      <pre class="rounded-md font-mono text-sm">
        <code class="example" language="'javascript'" [highlight]="code"></code>
      </pre>
      <br />
      <app-button
        *ngIf="user && user.name && !revealed"
        color="primary"
        type="submit"
        (click)="reveal()"
      >
        Click here to insert your personal token
      </app-button>
      <app-button
        *ngIf="user && user.name && revealed"
        color="primary"
        type="submit"
        (click)="hide()"
      >
        Hide token
      </app-button>
      <app-link-button
        href="/register"
        *ngIf="!(user && user.name)"
        color="primary"
        type="submit"
      >
        Sign in to access your personal token
      </app-link-button>

      <div class="my-8">
        <h3 class="font-black text-xl md:text-2xl my-8">Discover APIs</h3>
        <p>
          Browse all of our public APIs on the
          <a routerLink="/explore" class="text-indigo-700 hover:underline"
            >Explore page</a
          >.
        </p>
      </div>

      <div class="my-8">
        <h3 class="font-black text-xl md:text-2xl my-8">
          Generate an API token
        </h3>
        <p>
          To create a new access token, visit
          <a routerLink="/settings/keys" class="text-indigo-700 hover:underline"
            >API settings page</a
          >. You can specify which APIs the token can call or leave scopes blank
          to create a token that has access to all the APIs.
        </p>
      </div>

      <div class="my-8">
        <h3 class="font-black text-xl md:text-2xl my-8">Using an API</h3>
        <p>
          Micro APIs can be accessed via the url
          "https://api.m3o.com/v1/[service]/[endpoint]". All API calls require
          an API token provided via the "Authorization: Bearer" header. Our APIs
          provide a JSON based request/response format and also require a
          `Content-Type: application/json` header for each request.
        </p>

        <p class="mt-4">
          After familiarising yourself with an API by reading the API reference
          (for example:
          <a
            routerLink="/db/api"
            fragment="Read"
            class="text-indigo-700 hover:underline"
            >https://m3o.com/db/api</a
          >) you probably want to start calling the API. Micro APIs can be
          called via HTTP in any language or using our node.js and Golang
          specific clients.
        </p>
      </div>

      <div class="my-8">
        <h3 class="font-black text-xl md:text-2xl my-8">Billing</h3>
        <p>
          The majority of Micro APIs are free during the beta period. Third
          party APIs or calls that perform specific functions such as SMS or
          email are charged for and billed per request. Each account has a
          credit based balance. Any request made to a paid API will be debited
          from the balance in real time. When your balance is zero requests to
          paid APIs will return a blocked status.
        </p>
        <p class="mt-4">
          To check your balance and top-up your account head to the billing page
          at
          <a
            routerLink="/overview/billing"
            class="text-indigo-700 hover:underline"
            >https://m3o.com/overview/billing</a
          >
        </p>
      </div>

      <div class="my-8">
        <h3 class="font-black text-xl md:text-2xl my-8">Next Steps</h3>
        <p>
          You can come back to this page by clicking on Getting Started in the
          menu at any time. Otherwise feel free to ask questions or send
          feedback to
          <a
            routerLink="mailto:support@m3o.com"
            class="text-indigo-700 hover:underline"
            >support@m3o.com</a
          >
          or join the #support channel in our
          <a
            routerLink="https://slack.m3o.com"
            class="text-indigo-700 hover:underline"
            >Slack community</a
          >.
        </p>
      </div>
    </div>
  </app-container>
</div>
