:root {
  --m3o-spacing: 20px;
  --m3o-grey-1: #dedede;
}

.container {
  width: 90%;
  max-width: 1240px;
  margin: 0 auto;
}

.m3o-mt {
  margin-top: var(--m3o-spacing);
}

.m3o-mb {
  margin-bottom: var(--m3o-spacing);
}

.text-center {
  text-align: center;
}

.alert {
  padding: var(--m3o-spacing);
  margin-top: var(--m3o-spacing);
  border-radius: 4px;
  font-size: 14px;
  color: white;
  font-weight: bold;
  margin-bottom: var(--m3o-spacing);
}

.alert.alert-orange {
  background-color: #fcd34d;
  color: black;
}

.api-key {
  background-color: black;
  padding: var(--m3o-spacing);
  border-radius: 5px;
  color: white;
  font-size: 14px;
  margin: var(--m3o-spacing) 0;
}

.api-key-copy {
  display: flex;
  align-items: center;
}

.api-key-copy p {
  margin: 0 0 0 var(--m3o-spacing);
  display: none;
}

.api-key-copy p.show {
  display: block;
}

.menu-spacer {
  flex: 1 1 auto;
}

mat-sidenav-content {
  height: 100%;
}

.hover {
  cursor: pointer;
}

#logo {
  font-size: 1.5em;
  font-weight: 1000;
  font-family: medium-content-sans-serif-font, 'Lucida Grande',
    'Lucida Sans Unicode', 'Lucida Sans', Geneva, Arial, sans-serif;
}

*:focus {
  outline: 0;
}

a {
  color: 444;
}
