<div
  ngStyle.lt-md="width: 95%; height: 100%; margin: auto;"
  ngStyle.lt-lg="width: 90%; height: 100%; margin: auto;"
  style="width: 80%; height: 100%; margin: auto"
>
  <mat-toolbar
    style="
      padding: 1em;
      padding-left: 0em;
      padding-right: 0;
      background-color: white;
    "
  >
    <mat-toolbar-row
      style="padding-bottom: 0; padding-left: 0; padding-right: 0em"
    >
      <button mat-icon-button (click)="sidenav.toggle()" fxHide.gt-sm>
        <mat-icon>menu</mat-icon>&nbsp;&nbsp;&nbsp;
      </button>
      <span id="logo" class="hover" routerLink="/">Micro</span>&nbsp;
      <sup style="font-size: 0.8em; color: #dd4814; padding: 5px; margin: 0">Beta</sup>

      <span style="padding-left: 1em;" *ngIf=>
        <mat-form-field appearance="standard" style="width: 100%; padding: 0;">
          <input
            matInput
            style="color: #444; font-size: 0.8em;"
            placeholder="Search for APIs"
            [(ngModel)]="search"
            (keydown)="keyDownFunction($event)"
          />&nbsp;<button
            (click)="submit()"
            mat-button
            matSuffix
            style="position: relative; top: -8px; background-color: whitesmoke;"
          >
            Search
          </button>
        </mat-form-field>
      </span>

      <span class="menu-spacer"></span>
      <div style="padding-top: 4px" fxShow="true" fxHide.lt-md>
        <!-- The following menu items will be hidden on both SM and XS screen sizes -->

        <!-- <a *ngIf="user && user.name" routerLink="/services" mat-button
          >Services</a
        > -->
        <!-- <a *ngIf="user && user.name" routerLink="/status" mat-button>Status</a> -->
        <!-- <a *ngIf="user && user.name" routerLink="/events" mat-button>Events</a> -->
        <!-- <a *ngIf="user && user.name" routerLink="/apis" mat-button>APIs</a> -->
        <a routerLink="/explore">Explore</a>

        &nbsp;
        <!-- <button
          mat-stroked-button
          color="primary"
          [matMenuTriggerFor]="new"
          aria-label="Example icon-button with a menu"
          *ngIf="user && user.name"
          style="padding: 0; width: 40px; min-width: 40px"
        >
          <mat-icon>add</mat-icon>
        </button>
      -->

        <mat-menu id="new" #new="matMenu">
          <!-- <button
            *ngIf="user && user.name"
            routerLink="/service/new"
            mat-menu-item
          >
            <mat-icon>folder_open</mat-icon>
            <span>New Service</span>
          </button> -->

          <button *ngIf="user && user.name" mat-menu-item disabled>
            <mat-icon>access_time</mat-icon>
            <span>New Namespace</span>
          </button>
        </mat-menu>

        &nbsp;

        <mat-menu id="matmenu" #menu="matMenu">
          <button
            mat-menu-item
            (click)="goToTeam()"
            *ngIf="user && user.teamName && user.teamUrl"
          >
            <img
              *ngIf="user.organizationAvatarUrl"
              style="
                vertical-align: middle;
                margin-right: 0.25em;
                border-radius: 3px;
                height: 2em;
                width: 2em;
              "
              src="{{ user.organizationAvatarUrl }}"
            />
            <span style="font-weight: 700">{{ user.teamName }}</span>
          </button>
          <!-- <span
            style="
              font-size: small;
              display: block;
              padding: 5px 15px 5px 15px;
              color: grey;
            "
            >Namespaces</span
          > 
          <button
            class="namespace"
            id="namespace"
            mat-flat-button
            style="font-weight: 800; cursor: arrow"
          >
            {{ us.namespace() }}
          </button>
          <mat-divider></mat-divider>
          -->
          <button
            class="usage"
            id="usage"
            mat-menu-item
            routerLink="/overview/usage"
          >
            Usage
          </button>
          <button
            class="payments"
            id="payments"
            mat-menu-item
            routerLink="/overview/billing"
          >
            Billing
          </button>
          <button
            class="keys"
            id="keys"
            mat-menu-item
            routerLink="/settings/keys"
          >
            Settings
          </button>
          <button
            class="logout"
            id="logout"
            *ngIf="user && user.name"
            mat-menu-item
            (click)="us.logout()"
          >
            Log out
          </button>
        </mat-menu>
        <span fxHide="false" fxHide.lt-md>
          <button
            *ngIf="user && user.name"
            mat-stroked-button
            [matMenuTriggerFor]="menu"
            class="dropdown-menu"
            id="dropdown-menu"
          >
            <img
              *ngIf="user.avatarUrl"
              style="
                vertical-align: middle;
                margin-right: 0.25em;
                border-radius: 3px;
                height: 2em;
                width: 2em;
              "
              src="{{ user.avatarUrl }}"
            />
            {{ user.name }}
            <mat-icon>keyboard_arrow_down</mat-icon>
          </button>

          <ng-container *ngIf="!us.loggedIn() || !user || !user.name">
            <a routerLink="/login" color="secondary" mat-raised-button>Login</a>
          </ng-container>
        </span>

        <span fxHide="false" fxHide.gt-sm>
          <button
            style="padding-right: 0; margin-right: 0"
            mat-button
            [matMenuTriggerFor]="menu"
          >
            <mat-icon style="color: white">dehaze</mat-icon>
          </button>
        </span>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>

  <mat-sidenav-container>
    <mat-sidenav style="width: 66%" #sidenav>
      <mat-nav-list>
        <div
          *ngIf="user && user.teamName"
          style="margin-bottom: 1em; padding-left: 1em"
        >
          <img
            *ngIf="user.avatarUrl"
            style="
              vertical-align: middle;
              margin-right: 0.5em;
              border-radius: 3px;
              height: 2em;
              width: 2em;
            "
            src="{{ user.avatarUrl }}"
          />
          {{ user.name }}
        </div>
        <div>
          <a (click)="sidenav.toggle()" mat-list-item
            ><mat-icon style="margin-right: 0.15em">close</mat-icon>Close</a
          >
        </div>
        <!--
        <div *ngIf="user && user.teamName && user.teamUrl">
          <a mat-list-item (click)="goToTeam()"
            ><img
              *ngIf="user.organizationAvatarUrl"
              style="
                vertical-align: middle;
                margin-right: 0.5em;
                border-radius: 3px;
                height: 2em;
                width: 2em;
              "
              src="{{ user.organizationAvatarUrl }}"
            />{{ user.teamName }}</a
          >
        </div>
        <div *ngIf="user && user.name">
          <a mat-list-item (click)="sidenav.toggle()" routerLink="/service/new"
            >New Service</a
          >
        </div>
        <div *ngIf="user && user.name">
          <a mat-list-item (click)="sidenav.toggle()" routerLink="/services"
            >Services</a
          >
        </div>
        <div *ngIf="user && user.name">
          <a mat-list-item (click)="sidenav.toggle()" routerLink="/status"
            >Status</a
          >
        </div>
        <div *ngIf="user && user.name">
          <a mat-list-item (click)="sidenav.toggle()" routerLink="/apis"
            >APIs</a
          >
        </div>
      -->
        <div *ngIf="!(user && user.name)">
          <a routerLink="/login" (click)="sidenav.toggle()" mat-list-item
            >Log in</a
          >
        </div>
        <div *ngIf="!(user && user.name)">
          <a routerLink="/register" (click)="sidenav.toggle()" mat-list-item
            >Register</a
          >
        </div>
        <div *ngIf="user && user.name">
          <a
            routerLink="/overview/usage"
            (click)="sidenav.toggle()"
            mat-list-item
            >Usage</a
          >
          <a
            routerLink="/overview/billing"
            (click)="sidenav.toggle()"
            mat-list-item
            >Billing</a
          >
          <a
            routerLink="/settings/keys"
            (click)="sidenav.toggle()"
            mat-list-item
            >Settings</a
          >
        </div>
        <div *ngIf="user && user.name">
          <a (click)="us.logout()" mat-list-item>Log out</a>
        </div>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content style="background: white" fxFlexFill>
      <div style="min-height: calc(100vh - 104px); background: white">
        <router-outlet></router-outlet>
      </div>
      <div>
        <mat-divider></mat-divider>
        <br />
        <div fxLayout="row wrap" fxLayoutAlign="space-between">
          <div fxFlex="64%" fxFlex.lt-md="49%" fxFlex.lt-sm="99%">
	    <h2 class="mat-headline" style="font-weight: bold; font-size: 1em; margin: 0">Learn more</h2>
	    <p style="margin-bottom: 5px;"> Subscribe for the latest updates</p>
	    <link href="https://cdn-images.mailchimp.com/embedcode/horizontal-slim-10_7.css" rel="stylesheet" type="text/css">
            <div id="mc_embed_signup">
              <form action="https://micro.us18.list-manage.com/subscribe/post?u=fba1e1a1b23409d771c5653cd&amp;id=647d0b5377" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate="" style="padding: 0;">
	        <div id="mc_embed_signup_scroll" style="text-align: left;">
		  <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required="">
		  <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
		  <div style="position: absolute; left: -5000px;" aria-hidden="true">
		    <input type="text" name="b_fba1e1a1b23409d771c5653cd_647d0b5377" tabindex="-1" value="">
		  </div>
		  <div class="clear">
		    <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">
		  </div>
	          <br>
		</div>
              </form>
            </div>
	    <br>© 2021 Micro Services, Inc.<br>
          </div>
          <div fxFlex="32%" fxFlex.lt-md="49%" fxFlex.lt-sm="99%">
            <div fxLayout="row wrap" fxLayoutAlign="space-between">
              <div fxFlex="49%" fxFlex.lt-sm="99%">
                <div>
                  <a href="https://blog.m3o.com">Blog</a>
                </div>
                <div>
                  <a href="https://m3o.dev/careers">Careers</a>
                </div>
                <div>
                  <a href="https://github.com/m3o">Github</a>
                </div>
                <div>
                  <a href="https://m3o.dev">Platform</a>
                </div>
              </div>

              <div fxFlex="49%" fxFlex.lt-sm="99%">
               <div>
                  <a href="mailto:contact@m3o.com">Contact</a>
                </div>
                <div>
                  <a href="https://www.linkedin.com/company/micro-services-inc"
                    >LinkedIn</a
                  >
                </div>
                <div>
                  <a href="https://slack.m3o.com">Slack</a>
                </div>
                <div>
                  <a href="https://twitter.com/m3oservices">Twitter</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <br />
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
