:root {
  --m3o-spacing: 20px;
  --m3o-double-spacing: calc(var(--m3o-spacing) * 2);
  --m3o-half-spacing: calc(var(--m3o-spacing) / 2);

  /* Colors */
  --m3o-grey-1: #dedede;
  --m3o-dark-grey: #505050;
  --m3o-white: #fff;
  --m3o-dark-blue-1: #000131;
  --m3o-dark-blue-2: #03045e;
  --m3o-light-blue-1: #caf0f8;
  --m3o-mint-green: #80ffdb;
  --m3o-mint-green-dark: #3eb392;

  /* Globals */
  --m3o-header-height: 104px;
  --m3o-primary: var(--m3o-dark-blue-1);
  --m3o-secondary: var(--m3o-mint-green);
  --m3o-secondary-dark: var(--m3o-mint-green-dark);
  --m3o-border-grey: var(--m3o-grey-1);
  --m3o-border: 1px solid var(--m3o-border-grey);
}

.m3o-mt {
  margin-top: var(--m3o-spacing);
}

.m3o-mb {
  margin-bottom: var(--m3o-spacing);
}

.alert {
  padding: var(--m3o-spacing);
  margin-top: var(--m3o-spacing);
  border-radius: 4px;
  font-size: 14px;
  color: white;
  font-weight: bold;
  margin-bottom: var(--m3o-spacing);
}

.alert.alert-orange {
  background-color: #fcd34d;
  color: black;
}

.api-key {
  background-color: black;
  padding: var(--m3o-spacing);
  border-radius: 5px;
  color: white;
  font-size: 14px;
  margin: var(--m3o-spacing) 0;
}

.api-key-copy {
  display: flex;
  align-items: center;
}

.api-key-copy p {
  margin: 0 0 0 var(--m3o-spacing);
  display: none;
}

.api-key-copy p.show {
  display: block;
}

.menu-spacer {
  flex: 1 1 auto;
}

@media (min-width: 768px) {
  .grid-equal {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: var(--m3o-spacing);
  }
}

mat-sidenav-content {
  height: 100%;
}

*:focus {
  outline: 0;
}
