<div class="bg-gray-50 min-h-screen dark:bg-gray-800 pb-6">
  <ng-container *ngIf="singleApiService.service">
    <app-api-page-header></app-api-page-header>
    <router-outlet></router-outlet>
    <app-download-modal
      *ngIf="modalService.currentModal === 'downloads'"
    ></app-download-modal>
  </ng-container>
  <div
    *ngIf="!singleApiService.service"
    class="
      fixed
      z-20
      flex
      justify-center
      items-center
      w-full
      h-full
      top-0
      left-0
    "
  >
    <app-spinner></app-spinner>
  </div>
</div>
