<div class="w-full">
  <div class="md:grid md:grid-cols-2">
    <div>
      <div
        class="
          flex
          justify-between
          items-center
          p-4
          border-gray-200 border-solid border-b
          h-14
          text-sm
        "
      >
        Request
        <button
          class="py-1 px-2 bg-indigo-700 text-white text-sm rounded-md"
          (click)="onRunClick()"
        >
          Send
        </button>
      </div>
      <ngx-monaco-editor
        [options]="coptions"
        [(ngModel)]="requestJSON"
        class="min-height"
      ></ngx-monaco-editor>
    </div>
    <div>
      <div
        class="
          p-4
          border-gray-200 border-solid border-b border-t
          md:border-t-0
          h-14
          text-sm
          flex
          items-center
        "
      >
        Response
      </div>
      <ngx-monaco-editor
        [options]="coptions"
        [(ngModel)]="responseJSON"
        class="min-height"
      ></ngx-monaco-editor>
    </div>
  </div>
</div>
