<div class="grid grid-cols-2 w-full">
  <div>
    <div class="p-4 border-b border-solid border-gray-100">Request</div>
    <div class="p-4">
      <ngx-monaco-editor
        [options]="coptions"
        [(ngModel)]="requestJSON"
        class="h-full"
      ></ngx-monaco-editor>
    </div>
  </div>
  <div>
    <div class="p-4 border-b border-solid border-gray-100">Response</div>
    <div class="p-4">
      <ngx-monaco-editor
        [options]="coptions"
        [(ngModel)]="responseJSON"
      ></ngx-monaco-editor>
    </div>
  </div>
</div>
