<ng-container *ngIf="service">
  <div>
    <div>
      <mat-card style="border: none; box-shadow: none">
        <mat-action-list style="border: 1px solid #eee">
          <mat-select *ngIf="service.service.endpoints" [(ngModel)]="selectedEndpoint">
            <mat-option
              value="{{e.name}}"
              mat-list-item
              style="
                cursor: pointer;
                font-weight: normal;
                border-top: 1px solid whitesmoke;
              "
              (click)="select(e)"
              *ngFor="let e of service.service.endpoints"
            >
              <span
                *ngIf="e.name == selectedEndpoint; else normal"
                style="font-weight: bold"
                >{{ formatName(e.name) }}</span
              >
              <ng-template #normal
                ><span>{{ formatName(e.name) }}</span></ng-template
              >
            </mat-option>
          </mat-select>
        </mat-action-list>
        <br />
        <mat-divider></mat-divider>
        <br />
        <div fxLayout="row wrap" fxLayoutAlign="space-between">
          <div fxFlex="0 1 48%">
            Request<br /><br />
            <ngx-monaco-editor
              style="
                height: 25em;
                overflow: hidden;
                border: 1px solid #eee;
                padding: 10px;
              "
              [options]="coptions"
              [(ngModel)]="endpoint.requestJSON"
              (ngModelChange)="regenEmbed()"
            ></ngx-monaco-editor>
            <br />
          </div>
          <div fxFlex="0 1 48%">
            Response<br /><br />
            <ngx-monaco-editor
              style="
                height: 25em;
                overflow: hidden;
                border: 1px solid #eee;
                padding: 10px;
              "
              [options]="coptions"
              [(ngModel)]="endpoint.responseJSON"
              (ngModelChange)="regenEmbed()"
            ></ngx-monaco-editor>
          </div>
        </div>
        <br />
        <button
          mat-raised-button
          style="font-weight: bold"
          (click)="callEndpoint(service, endpoint)"
          color="primary"
        >
          Call
        </button>
      </mat-card>
    </div>
    <br />
  </div>
</ng-container>
