<div
  class="bg-white p-8 rounded-md border border-gray-200 border-solid mt-6"
  *ngIf="requestSchema"
>
  <h3 class="font-black text-black text-2xl mb-4 dark:text-white">
    {{ title }}
  </h3>
  <p class="text-gray-500">
    {{ requestSchema.description }}
  </p>
  <div class="grid grid-cols-2 gap-4">
    <div>
      <app-properties-table
        title="Request body fields"
        [properties]="requestSchema.properties"
      ></app-properties-table>

      <app-properties-table
        title="Response"
        [properties]="responseSchema.properties"
        *ngIf="responseSchema && responseSchema.properties"
      ></app-properties-table>
    </div>
    <div>
      <h4 class="mt-4 font-bold text-black text-sm">Example code</h4>
      <!-- <pre class="rounded-md font-mono text-sm">
        <code class="example" language="'javascript'" [highlight]="getExampleCode()"></code>
      </pre> -->
      <h4 class="mt-2 font-bold text-black text-sm">Example response</h4>
      <!-- <pre class="rounded-md font-mono text-sm">
        <code class="example" language="'json'" [highlight]="getResponseCode()"></code>
      </pre> -->
    </div>
  </div>
</div>
