<div
  class="bg-white p-8 rounded-md border border-gray-200 border-solid mt-6"
  *ngIf="requestSchema"
>
  <h3 class="font-black text-black text-2xl mb-4 dark:text-white">
    {{ title }}
  </h3>
  <p class="text-gray-500">
    {{ requestSchema.description }}
  </p>
  <div class="grid grid-cols-2 gap-4">
    <div>
      <app-properties-table
        title="Request body fields"
        [properties]="requestSchema.properties"
      ></app-properties-table>
      <app-properties-table
        title="Response"
        [properties]="responseSchema.properties"
        *ngIf="responseSchema && responseSchema.properties"
      ></app-properties-table>
    </div>
    <div>
      <app-request-block
        [requestSchema]="requestSchema"
        [apiName]="apiName"
      ></app-request-block>
      <app-response-block
        [responseSchema]="responseSchema"
      ></app-response-block>
    </div>
  </div>
</div>
