<form (ngSubmit)="onSubmit.emit(search)" class="relative">
  <svg
    xmlns="http://www.w3.org/2000/svg"
    xmlns:xlink="http://www.w3.org/1999/xlink"
    version="1.1"
    x="0px"
    y="0px"
    viewBox="0 0 100 100"
    style="enable-background: new 0 0 100 100"
    xml:space="preserve"
    class="block w-4 absolute top-1/2 transform -translate-y-1/2 left-4"
  >
    <path
      d="M71.5,12.3c-16.3-16.3-42.9-16.3-59.2,0c-16.3,16.3-16.3,42.9,0,59.2c14.6,14.6,37.3,16.2,53.6,4.7l21.8,21.8  c2.8,2.8,7.4,2.8,10.2,0s2.8-7.4,0-10.2L76.1,65.9C87.6,49.6,86.1,26.9,71.5,12.3z M62.1,62.1c-11.2,11.2-29.3,11.2-40.4,0  c-11.2-11.2-11.2-29.3,0-40.4s29.3-11.2,40.4,0C73.2,32.8,73.2,50.9,62.1,62.1z"
    />
  </svg>
  <input
    type="text"
    name="search"
    placeholder="Search for API"
    [(ngModel)]="search"
    class="
      border border-gray-200
      pl-12
      p-4
      rounded-md
      text-sm
      focus:ring-2 focus:ring-inset focus:ring-green-400 focus:w-40
    "
  />
</form>
