<div style="padding-bottom: 2em; margin: auto">
  <div style="margin: 1em 0" fxLayoutGap="2em" fxLayout="row">
    <div fxFlex="49%" fxFlex.lt-md="100%" style="padding-top: 1em">
      <h2><b>Discover APIs built for developers</b></h2>
      <h2 class="mat-headline" style="font-size: 2em; font-weight: 700">
        Explore, search and use APIs all in one place.
      </h2>
      <br />
      <mat-form-field style="width: 100%" appearance="outline">
        <input
          matInput
          style="color: #444; border-color: #444"
          placeholder="Search for APIs"
          [(ngModel)]="search"
          (keydown)="keyDownFunction($event)"
        /><button
          (click)="submit()"
          mat-button
          matSuffix
          style="position: relative; top: -8px"
        >
          Search
        </button>
      </mat-form-field>
    </div>
  </div>

  <br />
  <div style="margin: 1em 0" fxLayoutAlign="space-between" fxLayout="row wrap">
    <div fxFlex="32%" fxFlex.lt-md="100%"></div>
    <div fxFlex="32%" fxFlex.lt-md="100%">
      <h2 class="mat-headline" style="font-size: 2em; text-align: center;">
        <span style="font-weight: 400">APIs for everyday use</span>
      </h2>
    </div>
    <div fxFlex="32%" fxFlex.lt-md="100%"></div>
  </div>

  <br />
  <div style="margin: 0em 0; padding: 1px">
    <app-search-result-grid *ngIf="loading == false" [services]="services">
    </app-search-result-grid>
    <div><a routerLink="/explore">Explore all &rarr;</a></div>
  </div>
  <div *ngIf="loading" style="text-align: center">Loading...</div>

  <br />
  <div style="margin: 1em 0" fxLayoutAlign="space-between" fxLayout="row wrap">
    <div fxFlex="32%" fxFlex.lt-md="100%"></div>
    <div fxFlex="32%" fxFlex.lt-md="100%">
      <h2 class="mat-headline" style="font-size: 2em; text-align: center;">
        <span style="font-weight: 400">Developer Friendly UX</span>
      </h2>
    </div>
    <div fxFlex="32%" fxFlex.lt-md="100%"></div>
  </div>
  <br />

  <div style="margin: 1em 0" fxLayoutAlign="space-between" fxLayout="row wrap">
    <div
      fxFlex="32%"
      fxFlex.lt-md="100%"
      style="border: 1px solid #ccc; border-radius: 7px; padding: 1em"
    >
      <div style="text-align: center">
        <br />
        <span style="color: #666">from just</span>
        <h2 style="font-size: 1.5em; font-weight: 700">$ 0.00001</h2>
        <span style="color: #666">per request</span>
      </div>
    </div>

    <div fxFlex="66%" fxFlex.lt-md="100%">
      <div fxLayoutAlign="space-between" fxLayout="row wrap">
        <div fxFlex="49%" fxFlex.lt-md="100%" style="margin-bottom: 2em">
          <h2 class="mat-headline">Simple</h2>
          <p>
            Use one Micro account to fulfill all your API needs. No more signing
            up and configuring yet another token.
          </p>
        </div>

        <div fxFlex="49%" fxFlex.lt-md="100%" style="margin-bottom: 2em">
          <h2 class="mat-headline">Fast</h2>
          <p>
            Using a new API is simple - no need to learn yet another
            documentation, it's all the same Micro UI.
          </p>
        </div>
        <div fxFlex="49%" fxFlex.lt-md="100%" style="margin-bottom: 2em">
          <h2 class="mat-headline">Affordable</h2>
          <p>
            We buy API calls in bulk so we can give you a good price. We pass
            most of the savings on to you.
          </p>
        </div>
        <div fxFlex="49%" fxFlex.lt-md="100%" style="margin-bottom: 2em">
          <h2 class="mat-headline">No Bullshit</h2>
          <p>
            Don't get lost in a sea of infinite cloud billing. We cut through 
            the cruft and show you exactly what you use.
          </p>
        </div>
      </div>
    </div>
  </div>

  <br />
  <div style="margin: 1em 0" fxLayoutAlign="space-between" fxLayout="row wrap">
    <div fxFlex="32%" fxFlex.lt-md="100%"></div>
    <div fxFlex="32%" fxFlex.lt-md="100%">
      <h2 class="mat-headline" style="font-size: 2em; text-align: center;">
        <span style="font-weight: 400">Tired of AWS? Us too</span>
      </h2>
    </div>
    <div fxFlex="32%" fxFlex.lt-md="100%"></div>
  </div>
  <br />

  <div style="margin: 1em 0" fxLayoutAlign="space-between" fxLayout="row wrap">
    <div fxFlex="66%" fxFlex.lt-md="100%">
      <div fxLayoutAlign="space-between" fxLayout="row wrap">
        <div fxFlex="49%" fxFlex.lt-md="100%" style="margin-bottom: 2em">
          <p>
            Cloud complexity is at full throttle. What started as a promising way for developers 
            to take back control and rapidly build web services has turned into the anti pattern 
            for the next generation. We need a faster, simpler and more affordable way to leverage 
            APIs in the Cloud.
          </p><br>
	  <p>Micro was built with this in mind. To help developers 10x without dealing with the likes 
          of AWS.</p>
          <p>Register and get started now</p>
          <a routerLink="/register" mat-raised-button color="primary">Signup</a>
        </div>
        <div fxFlex="49%" fxFlex.lt-md="100%" style="margin-bottom: 2em">
          <table mat-table>
            <thead>
              <th>Pain</th>
              <th>AWS</th>
              <th>M3O</th>
            </thead>
            <tbody>
              <tr>
                <td>Yup..</td>
                <td>Oh yea</td>
                <td>Hell yea</td>
              </tr>
              <tr>
                <td>Nope</td>
                <td>Never</td>
                <td>Hell no</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <br />
  <br />
</div>
