<div style="padding-bottom: 2em; margin: auto">
  <div style="margin: 1em 0" fxLayoutAlign="space-between" fxLayout="row wrap">
    <div fxFlex="100%" fxFlex.lt-md="100%" style="margin-top: 2em">
      <div fxLayoutAlign="space-between" fxLayout="row wrap">
        <div fxFlex="49%" fxFlex.lt-md="100%">
          <h2 class="mat-headline" style="font-size: 3.5em; font-weight: 700; line-height: 1em;">
            Programming<br>The Real World
          </h2>
          <h2>
            Micro is a new kind of cloud platform. One that focuses entirely on the developer experience.
            Consume public APIs as simpler programmable building blocks for faster development of products, apps and services.
          </h2>
          <div><br><a href="#everyday">👇 Learn More</a></div>
        </div>
        <br>&nbsp;
        <div fxFlex="49%" fxFlex.lt-md="100%">
          <div style="max-width: 500px; margin: 0 auto; padding-top: 2em; padding-bottom: 2em; border: 1px solid; border-radius: 5px; text-align: center;">
            <h2 class="mat-headline" style="font-size: 1.5em; font-weight: 700; line-height: 1em; padding-top: 1em;">
              Start using Micro now
            </h2>
            <p><a routerLink="/register">Signup</a> for a free account today</p>
            <p> Get $5 credit to get started.</p>
            <br>
            <p><a routerLink="/explore">Explore</a> our cloud services</p>
            <p>Build apps at lightning speed!</p>
            <br />
          </div>
        </div>
      </div>
    </div>
  </div>
  <br />
  <div style="text-align: center; margin: 50px;">
    <h2 style="font-size: 1em; font-weight: 400; margin-bottom: 25px;">Micro is powered by</h2>
    <div class="images" style="max-width: 600px; margin: 0 auto;">
      <img src="/assets/logos/javascript.png" />
      <img src="/assets/logos/golang.png" style="height: 30px; vertical-align: top; padding-top: 10px;"/>
      <img src="/assets/logos/postgres.png" />
      <img src="/assets/logos/redis.png" />
      <img src="/assets/logos/digitalocean.png" />
      <img src="/assets/logos/kubernetes.png" />
      <img src="/assets/logos/osrm.png" />
      <img src="/assets/logos/finage.png" style="height: 20px; vertical-align: top; padding-top: 10px;" />
      <img src="/assets/logos/exchangerateapi.png" style="height: 20px; vertical-align: top; padding-top: 10px;"/>
      <img src="/assets/logos/weatherapi.png" style="height: 40px; vertical-align: top;" />
    </div>
  </div>


  <div style="margin: 10em 0 0 0" fxLayoutAlign="space-between" fxLayout="row wrap">
    <div fxFlex="32%" fxFlex.lt-md="100%"></div>
    <div fxFlex="32%" fxFlex.lt-md="100%">
      <p id="everyday">&nbsp;</p>
      <h2 class="mat-headline" style="font-size: 2em; text-align: center;">
        <span style="font-weight: bold">APIs for everyday use</span>
      </h2>
    </div>
    <div fxFlex="32%" fxFlex.lt-md="100%"></div>
  </div>

  <br />
  <div style="margin: 0em 0; padding: 1px">
    <app-search-result-grid *ngIf="loading == false" [services]="services">
    </app-search-result-grid>
    <div><a routerLink="/explore">Explore all &rarr;</a></div>
  <div *ngIf="loading" style="text-align: center">Loading...</div>

  <br />
  <div style="margin: 10em 0 0 0" fxLayoutAlign="space-between" fxLayout="row wrap">
    <div fxFlex="32%" fxFlex.lt-md="100%"></div>
    <div fxFlex="32%" fxFlex.lt-md="100%">
      <h2 class="mat-headline" style="font-size: 2em; text-align: center;">
        <span style="font-weight: bold">Developer Friendly UX</span>
      </h2>
    </div>
    <div fxFlex="32%" fxFlex.lt-md="100%"></div>
  </div>
  <br />

  <div style="margin: 1em 0" fxLayoutAlign="space-between" fxLayout="row wrap">
    <div
      fxFlex="32%"
      fxFlex.lt-md="100%"
      style="border: 1px solid #ccc; border-radius: 7px; padding: 1em"
    >
      <div style="text-align: center">
        <br />
        <span style="color: #666">from just</span>
        <h2 style="font-size: 1.5em; font-weight: 700">$ 0.0001</h2>
        <span style="color: #666">per request</span>
        <br><span style="font-size: 1.6em">🤔</span>
        <p style="color: #666">In plain english</p>
        <p>$1 for 10k requests<p>
      </div>
    </div>

    <br>&nbsp;

    <div fxFlex="66%" fxFlex.lt-md="100%">
      <div fxLayoutAlign="space-between" fxLayout="row wrap">
        <div fxFlex="49%" fxFlex.lt-md="100%" style="margin-bottom: 2em">
          <h2 class="mat-headline">Simple</h2>
          <p>
            Use one Micro account to fulfill all your API needs. No more signing
            up and configuring yet another token.
          </p>
        </div>

        <div fxFlex="49%" fxFlex.lt-md="100%" style="margin-bottom: 2em">
          <h2 class="mat-headline">Fast</h2>
          <p>
            Using a new API is simple - no need to learn yet another
            documentation, it's all the same Micro UX.
          </p>
        </div>
        <div fxFlex="49%" fxFlex.lt-md="100%" style="margin-bottom: 2em">
          <h2 class="mat-headline">Affordable</h2>
          <p>
            It's a simple pay as you go model and everything is priced per request. 
            Top up your account and start making calls.
          </p>
        </div>
        <div fxFlex="49%" fxFlex.lt-md="100%" style="margin-bottom: 2em">
          <h2 class="mat-headline">No Hidden Fees</h2>
          <p>
            Don't get lost in a sea of infinite cloud billing. We show you exactly 
            what you use and don't hide any of the costs.
          </p>
        </div>
      </div>
    </div>
  </div>

  <br />
  <div style="margin: 15em 0 0 0" fxLayoutAlign="space-between" fxLayout="row wrap">
    <div fxFlex="32%" fxFlex.lt-md="100%"></div>
    <div fxFlex="32%" fxFlex.lt-md="100%">
      <h2 class="mat-headline" style="font-size: 2em; text-align: center;">
        <span style="font-weight: bold">Tired of AWS? Us too</span>
      </h2>
    </div>
    <div fxFlex="32%" fxFlex.lt-md="100%"></div>
  </div>
  <br />

  <div style="margin: 1em 0" fxLayoutAlign="space-between" fxLayout="row wrap">
    <div fxFlex="100%" fxFlex.lt-md="100%">
      <div fxLayoutAlign="space-between" fxLayout="row wrap">
        <div fxFlex="49%" fxFlex.lt-md="100%" style="margin-bottom: 2em">
          <div class="mat-table">
            <div class="mat-header-row">
              <div class="mat-header-cell">Pain</div>
              <div class="mat-header-cell">AWS</div>
              <div class="mat-header-cell">M3O</div>
            </div>
            <div class="mat-row">
              <div class="mat-cell">CloudFormation</div>
              <div class="mat-cell">Yup..</div>
              <div class="mat-cell">Nope</div>
            </div>
            <div class="mat-row">
              <div class="mat-cell">CloudComplexity</div>
              <div class="mat-cell">Oh yea</div>
              <div class="mat-cell">Um no</div>
            </div>
            <div class="mat-row">
              <div class="mat-cell">InfiniteBilling</div>
              <div class="mat-cell">Haha yes!</div>
              <div class="mat-cell">Hell no</div>
            </div>
          </div>
        </div>
        <div fxFlex="49%" fxFlex.lt-md="100%" style="margin-bottom: 2em">
          <p>
            Cloud complexity is at full throttle. What started as a promising way for developers 
            to rapidly build scalable web services has turned into the anti pattern 
            for the next generation. We need a faster, simpler and more affordable way to leverage 
            services in the Cloud.
          </p><br>
	  <p>Micro (aka M3O) was built with this in mind. To help developers 10x without dealing with the likes 
          of AWS. If you're interested to learn more, register and try it out now.</p><br>
          <a routerLink="/register" mat-raised-button color="primary">Signup for Free</a>
        </div>
      </div>
    </div>
  </div>

  <br />
  <div style="margin: 15em 0 0 0" fxLayoutAlign="space-between" fxLayout="row wrap">
    <div fxFlex="32%" fxFlex.lt-md="100%"></div>
    <div fxFlex="32%" fxFlex.lt-md="100%">
      <h2 class="mat-headline" style="font-size: 2em; text-align: center;">
        <span style="font-weight: bold">About Us</span>
      </h2>
    </div>
    <div fxFlex="32%" fxFlex.lt-md="100%"></div>
  </div>
  <br />

  <div style="margin: 1em 0" fxLayoutAlign="space-between" fxLayout="row wrap">
    <div fxFlex="100%" fxFlex.lt-md="100%">
      <div fxLayoutAlign="space-between" fxLayout="row wrap">
        <div fxFlex="30%" fxFlex.lt-md="100%" style="margin-bottom: 2em">
            <p>In 2013 a few of us met at a ride hailing startup in London called Hailo. 
            Back then we were competing against Uber and pushed hard to scale our technology to compete. It's 
            there we cut our teeth on AWS and the cloud complexity we all had to endure just to ship a mobile app.</p>
            <br>
        </div>
        <div fxFlex="30%" fxFlex.lt-md="100%" style="margin-bottom: 2em">
            <p>In 2015, Micro started life as a distributed systems development framework and became a popular open source 
            project that still lives on today. That however only solved one half of the problem. It's not just the 
            development of cloud services that's difficult, it's also how you consume them.</p>
            <br>
        </div>
        <div fxFlex="30%" fxFlex.lt-md="100%" style="margin-bottom: 2em">
            <p>M3O is a new cloud platform. One that focuses entirely on the developer experience. We do away with endless 
            marketing spiel, thousands of services and a sea of docs. Our hope, by just giving you some useful APIs and 
            examples, you'll be able to move 10x faster than before.</p>
            <br>
        </div>
      </div>
      <div fxLayoutAlign="space-between" fxLayout="row wrap">
        <div fxFlex="100%" fxFlex.lt-md="100%" style="margin-bottom: 2em; text-align: center;">
            <br>
            <p>If you believe in what we're doing, please signup, kick the tyres and send us some feedback.</p>
            <br>
            <p>Cheers, Micro Team</p>
        </div>
      </div>
    </div>
  </div>

  <mat-divider style="margin-top: 10em;"></mat-divider>
  <br>

  <div style="margin: 2em 0 0 0" fxLayoutAlign="space-between" fxLayout="row wrap">
    <div fxFlex="32%" fxFlex.lt-md="100%"></div>
    <div fxFlex="32%" fxFlex.lt-md="100%">
      <h2 class="mat-headline" style="font-size: 2em; text-align: center;">
        <span style="font-weight: bold">Sell your APIs on Micro</span>
      </h2>
    </div>
    <div fxFlex="32%" fxFlex.lt-md="100%"></div>
  </div>
  <div fxLayoutAlign="space-between" fxLayout="row wrap">
    <div fxFlex="100%" fxFlex.lt-md="100%">
      <div fxLayoutAlign="space-between" fxLayout="row wrap">
        <div fxFlex="100%" fxFlex.lt-md="100%" style="text-align: center;">
            Got an API you want to offer on our platform?<br><a href="mailto:contact@m3o.com">Contact us</a> to learn more
        </div>
      </div>
    </div>
  </div>

  <br />
  <br />
</div>
