<div class="bg-gray-50 min-h-screen">
  <div class="md:max-w-4xl lg:max-w-7xl ml-auto mr-auto w-11/12 py-8">
    <h2 class="font-bold text-3xl mt-0 mb-8 text-black">Explore APIs</h2>
    <app-search-result-grid
      *ngIf="searchService.loadingResults == false"
      [services]="searchService.results"
    >
    </app-search-result-grid>
    <p
      *ngIf="searchService.results.length === 0"
      class="font-bold text-2xl md:text-4xl"
    >
      Sorry, no results found
    </p>
    <p *ngIf="searchService.loadingResults == false" class="mt-6">
      Can't find what you're looking for?
      <a href="https://forms.gle/RoYDNQk3myArHfZM9" class="text-indigo-600"
        >Let us know.</a
      >
    </p>
    <div *ngIf="searchService.loadingResults" style="text-align: center">
      Loading...
    </div>
  </div>
</div>
