<div class="bg-gray-800 rounded-lg">
  <div
    class="
      p-4
      border-b border-solid border-gray-700
      flex
      justify-between
      items-center
    "
  >
    <p class="text-white text-sm font-medium mb-0">Request</p>
    <div class="relative">
      <button
        class="text-sm flex items-center text-white"
        (click)="showDropdown = !showDropdown"
      >
        {{ languages[selectedLanguage] }}
        <mat-icon mat-list-icon>keyboard_arrow_down</mat-icon>
      </button>
      <div
        *ngIf="showDropdown"
        class="
          absolute
          right-0
          z-20
          bg-white
          p-2
          rounded-md
          w-40
          mt-2
          shadow-md
        "
      >
        <button
          *ngFor="let item of languages | keyvalue"
          class="
            w-full
            text-sm
            font-medium
            text-left
            p-2
            hover:bg-gray-100
            rounded-md
          "
          [ngClass]="{
            'bg-gray-600 text-white hover:bg-gray-700':
              item.key === selectedLanguage
          }"
          (click)="changeLanguage(item.key)"
        >
          {{ item.value }}
        </button>
      </div>
    </div>
  </div>
  <pre
    class="text-sm p-0"
  ><code class="example" language="'javascript'" [highlight]="code"></code></pre>
</div>
