<div class="h-screen bg-gray-100">
  <div class="md:flex max-w-7xl mx-auto flex items-center justify-center py-8">
    <div class="p-8 bg-white rounded-md shadow-md w-11/12 max-w-lg">
      <h1 class="font-bold text-3xl mb-4">Sign up</h1>
      <p class="text-gray-600">Create a free account and get started now</p>
    </div>
  </div>
  <div style="max-width: 400px; margin: 0 auto">
    <br />
    <mat-card style="background: #fcfcfc">
      <mat-card-title>Signup</mat-card-title>
      <mat-card-subtitle
        >Create a free account and get started now</mat-card-subtitle
      >
      <mat-form-field class="full" appearance="legacy">
        <mat-label>Email</mat-label>
        <input matInput [(ngModel)]="email" type="email" />
      </mat-form-field>
      <br />
      <button
        mat-raised-button
        type="button"
        [disabled]="loading"
        color="primary"
        (click)="sendVerificationEmail()"
      >
        {{ !verifySent ? 'Register' : 'Resend Code' }}
      </button>
      <br />
      <br />
      <div style="text-align: center">
        <button (click)="google()" mat-button>
          <mat-icon svgIcon="logo"></mat-icon>
          Sign in with Google
        </button>
      </div>
      <div *ngIf="verifySent">
        <br />
        <p>
          An email has been sent to you with a verification code, please check
          your email.
        </p>
        <mat-form-field class="full" appearance="legacy">
          <mat-label>Verification code</mat-label>
          <input
            matInput
            [(ngModel)]="verificationCode"
            type="verification code"
          />
        </mat-form-field>
        <br />
        <mat-form-field class="full" appearance="legacy">
          <mat-label>Password</mat-label>
          <input matInput [(ngModel)]="password" type="password" />
        </mat-form-field>
        <br />
        <button
          [disabled]="loading"
          mat-raised-button
          type="button"
          color="primary"
          style="font-weight: bold"
          (click)="verify()"
        >
          Register
        </button>
      </div>
    </mat-card>
    <br />
    <div style="text-align: center">
      <a href="#" routerLink="/login" style="text-decoration: underline"
        >Log in</a
      >
      if you already have an account
    </div>
  </div>
</div>
