<div style="margin: auto">
  <mat-card style="margin-top: 0; padding: 1px" class="mat-card-flat">
    <mat-card-title
      >Settings</mat-card-title
    >
    <mat-card-subtitle>Your account settings</mat-card-subtitle>
    <br />
    <mat-card style="margin-bottom: 1em; margin: 0 auto; background: #fcfcfc">
      <mat-card-title>API Usage</mat-card-title>
      <mat-card-subtitle
        >To use an API key simply pass in a "Authorization: Bearer" header to the
        Micro API.</mat-card-subtitle
      >
      <mat-card-content
        ><div style="background: whitesmoke; border-radius: 5px; padding: 0.5em">
          curl -H 'Authorization: Bearer $KEY' https://api.m3o.com/v1/{service}/{endpoint}
        </div></mat-card-content
      >
    </mat-card>
    <br/>
    <mat-card >
      <mat-card-title>API Keys</mat-card-title>

      <mat-card-content ng>
        <mat-card-subtitle *ngIf="!this.keys || this.keys.length == 0">No API keys</mat-card-subtitle>
        <mat-list *ngIf="this.keys && this.keys.length > 0">
          <mat-list-item *ngFor="let key of this.keys" >
            <h2 mat-line>{{ key.description }}</h2>
            <p mat-line><span>Scopes: {{ key.scopes }}</span></p>
            <p mat-line><span>Created {{ key.createdTime * 1000 | dateAgo }}</span></p>
            <mat-icon mat-list-icon>vpn_key</mat-icon>
            <button mat-raised-button color="warn" (click)="revokeKey(key)">Delete</button>
          </mat-list-item>
        </mat-list>

      </mat-card-content>
      <mat-card-actions>
        <button
                mat-raised-button
                (click)="createKeyDialog()"
                color="primary"
        >Create</button>
      </mat-card-actions>
    </mat-card>

  </mat-card>
</div>
